@model IEnumerable<Bachelorprosjekt.Models.Oppdragsgiver>

@{
    ViewData["Title"] = "Index";
}

<h1>Send Invitasjoner</h1>

<form id="sendInvitasjoner" asp-controller="Invitasjoner" asp-action="SendInvitasjoner" method="post" role="form" asp-route-returnUrl="@Context.Request.Path">
<input type="submit" value="Send Invitasjoner" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>Invitert?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td></td> 
            
            <td>
                <input type="checkbox" id="@item.Id" name="@item.Id">
              
            </td>
        </tr>
}
    </tbody>
</table>
</form>